html, body
  height 100%
#app
  height 100%

.com-con
  display -webkit-box
  display -webkit-flex
  display flex
  -webkit-box-orient vertical
  -webkit-flex-direction column
  flex-direction column
  width 100%
  height 100%
  position absolute
  .com-con-header
    // height 60px
    // line-height 60px
    display -webkit-box
    display -webkit-flex
    display flex
    -webkit-align-items center
    -webkit-box-align center
    align-items center
    background-color #ED5C49
  .com-con-main
    overflow auto
    -webkit-box-flex 1
    -webkit-flex 1
    flex 1
    -webkit-overflow-scrolling touch
