.bc_con
  background-color #F4F4F5
.bc_cardTip
  margin 16px 0
  padding 0 15px
  display flex
  display -webkit-flex
  i
    background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEUAAADa2trf39/s7OzY2NjZ2dnZ2dnY2NjZ2dnY2Nja2trb29vY2Njd3d3Y2Nj////6+vrj4+Nr07O1AAAADnRSTlMAlhgG9PLj2ce/gkcuLYxFwYgAAACxSURBVDjLhZNHEsQgDARHljBpV7b//9mNZYGD6CsNQynA4Eo5isRMlXFmoqA7gSb0cBHtkMLd9aQnUvPIY9YL5ud+3857Y/rnJ70h/f5R9JbyDRA1tnXd1JBPCGnDuiyrNhDAwRMCo6qeI4wKUhdC9oWM6EdEiHqfVDkIyxttCYi+EJF9IYN8gVB9oYKDJwQGyBPI2m3Csd0o94UqNnKXpU48Htrx2I8XZ7x64+X11/8FpoEq/EEGr9IAAAAASUVORK5CYII=")
    background-repeat no-repeat
    display inline-block
    width 16px
    height 16px
    background-size 100%
  p
    flex 1
    -webkit-flex 1
    font-size 12px
    color #999999
    margin-left 4px
  h3
    flex 1
    -webkit-flex 1
    font-size 13px
    color #4162FF
    text-align right
    
.bc_info
  background-color #fff
  width 100%
  & > h5
    font-size 14px
    color #666666
    padding-left 15px
    line-height 32px
  .bc_info_item
    margin-left 15px
    padding 12px 0
    display flex
    display -webkit-flex
    position relative
    h3
      font-size 14px
      color #666666
      line-height 28px
      width 92px
    p
      font-size 16px
      color #434343
      line-height 28px
    input
      border none
      font-size 16px
      line-height 28px
      color #434343
      flex 1
      -webkit-flex 1
      &::-webkit-input-placeholder
        color #B9B9B9
    span
      position absolute
      right 0
      top 0
      display block
      height 100%
      padding 0 15px
      font-size 14px
      color #4162FF
      line-height 52px
      &.disabled
        color #666666
    .error_msg
      font-size 12px
      color #FF4F42
  