.sb_con
  background-color #fff
.sb_supportbank
  padding 0 15px
  margin-top 8px
  background-color #fff
  h3
    padding 24px 0 16px
    font-size 12px
    color #666666
  ul
    margin-top 16px
    li
      display block
      width 28%
      float left
      margin-bottom 33px
      & > div
        width 60px
        margin 0 auto
      &:nth-child(4n+1)
        width 22%
        & > div
          float left
      &:nth-child(4n)
        width 22%
        & > div
          float right
      img
        display block
        width 36px
        height 36px
        margin 0 auto
      h5
        width 100%
        font-size 14px
        color #434343
        margin-top 11px
        text-align center
        overflow hidden
        text-overflow ellipsis
        white-space nowrap